* {
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #ddd;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .column {
    width: 90% !important;
  }
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.column{
  width: 30%;
  min-width: 300px;
}

.left {
  background-color: #99f;
  height: 800px;
}
.center {
  background-color: #9f9;
  height: 1000px;
}

.right {
  background-color: #f99;
  height: 600px;
}
