html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #edeef0;
}

.logo {
    width: 50px;
    height: 50px;
}

.page-wrapper {
	background-color: white;
    min-height: 100%;
    margin-bottom: -50px !important;
}

* html .page-wrapper {
    height: 100%;
}

.page-buffer {
    height: 50px;
}

.page-header {
    width: 60%;
    height: 50px;
    top: 0;
    position: fixed;
    background-color: #47749c;
}

.page-footer {
	height: 50px;
	background-color: #47749c;
}

.page-wrapper, .page-footer {
	width: 60%;
	margin: 0 auto;
}

.content {
	padding: 0 50px;
}
