* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 11pt;
  background-color: #ddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #15c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.dummy {
  margin: 0 auto;
  color: #828282;
  font-size: 14pt;
  text-align: center;
  height: 100%;
}

.header-container, .footer-container {
  background-color: rgb(53, 58, 64);
}

.header-container, .footer-container {
  width: 100%;
  height: 40px;
}

.header-container {
  position: fixed;
  z-index: 9999;
}

.footer-container {
  position: relative;
  z-index: 9999;
}

.content {
  padding: 15px 0;
}

.page-wrapper {
  margin-bottom: -40px;
  min-height: 100%;
}

.grid-container {
  display: flex;
}

.page-buffer {
  height: 40px;
}

.frame {
  background-color: white;
  box-shadow: 0 0 5px #ccc;
  border-radius: 3px;
}

.image-frame {
  padding: 5px;
}

.text-frame {
  padding: 15px;
}

.logo {
  font-size: 12pt;
}

.title {
  font-size: 14pt;
}

.photo {
  display: block;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: #ddd;
}

.title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.label {
  color: #828282;
}

.info-text {
  margin-top: 15px;
}

.header, .footer {
  max-width: 930px;
  margin: auto;
}

.footer {
  text-align: right;
}

.footer-text {
  font-size: 10pt;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  color: #ccc;
}

.navigation {
  float: right;
}

.nav-button {
  transition: background-color 100ms linear;
  height: 40px;
  float: left;
  display: inline-block;
  text-decoration: none !important;
}

.nav-button:hover {
  background-color: rgb(34, 37, 40);
  box-shadow: inset 0 0 1px #000;
}

.caption {
  height: 36px;
  padding: 0 15px;
  line-height: 40px;
  vertical-align: middle;
  color: white;
}

.indicator {
  width: 100%;
  height: 4px;
}

.nav-button-current .indicator {
  background-color: #ccc;
}

@media (max-width: 644px) {
  .dummy {
    padding-top: 15px;
  }

  .caption {
    padding: 0 10px;
  }

  .page-buffer {
    height: 50px;
  }

  .page-wrapper {
    margin-bottom: -50px;
  }

  .content {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .frame {
    border-radius: 0;
    box-shadow: none;
  }

  .image-frame {
    padding: 0;
  }

  .header-container, .footer-container {
    height: 50px;
  }

  .footer-text {
    height: 50px;
    line-height: 50px;
  }

  .nav-button {
    height: 50px;
  }

  .caption {
    line-height: 50px;
    height: 44px;
  }

  .indicator {
    height: 6px;
  }

  .photo {
    display: none;
  }

  .photo-full {
    width: 100%;
    height: 75vw;
    background: url(/static/images/thumbnails/me.jpg) 0 -20vw;
    background-size: cover;
  }

  [class*="col-"] {
      padding: 0;
  }
}

@media (max-width: 340px) {
  .caption {
    line-height: 25px;
  }
}

@media (min-width: 645px) and (max-width: 959px) {
  .header {
    padding: 0 15px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .image-frame {
    margin-bottom: 15px;
  }

  [class*="col-"] {
      padding: 0;
  }
}

.image-view {
  padding: 40px 0;
  z-index: 9998;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 58, 64, 0.8);
}

.image-view-header {
  position: fixed;
  width: 100%;
  height: 50px;
}

.image-view-content {
  width: 100%;
  height: 100%;
  margin-top: -40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 900px;
  height: 75%;
  max-width: 60%;
  max-height: 60%;
  z-index: 9997;
}

.image-display {
  max-width: 900px;
  max-height: 450px;
}

.image-loading {
  display: none;
  width: 50px;
  height: 50px;
  z-index: 9996;
}

.comment-block {
  width: 300px;
  min-width: 300px;
  height: 450px;
  background-color: #fff;
  overflow: auto;
}

.comment-form {
  padding: 10px;
}

.author-field, .message-field {
  font-size: 15px;
  border: 1px #ddd solid;
  padding: 5px;
}

.author-field {
  width: 269px;
}

.message-field {
  max-width: 269px;
  min-width: 269px;
  max-height: 100px;
  min-height: 18px;
}

.comment-list {
  padding: 0 10px 10px 10px;
}

.comment {
  margin-bottom: 15px;
  padding: 5px;
  border-top: 1px #ddd solid;
}

.image-view-setback-button {
  width: 75px;
  height: 50px;
  float: right;
  background: url("/static/images/controls/setback.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.image-view-source-button {
  width: 75px;
  height: 50px;
  float: right;
  background: url("/static/images/controls/source.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.image-view-close-button {
  width: 75px;
  height: 50px;
  float: right;
  background: url("/static/images/controls/close.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.image-view-prev-button, .image-view-next-button {
  width: 75px;
  height: 75%;
  background-size: 40px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  cursor: pointer;
}

.image-view-prev-button {
  background: url("/static/images/controls/prev.png");
}

.image-view-next-button {
  background: url("/static/images/controls/next.png");
}

.image-view-button {
  transition: background-color 100ms linear;
}

.image-view-button:hover {
  background-color: rgba(53, 58, 64, 0.6);
}

@media (min-width: 1920px) {
  body {
    font-size: 12pt;
  }

  .dummy {
    font-size: 15pt;
  }

  .logo {
    font-size: 13pt;
  }

  .title {
    font-size: 14pt;
  }

  .footer-text {
    font-size: 11pt;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 13pt;
  }

  .dummy {
    font-size: 16pt;
  }

  .logo {
    font-size: 14pt;
  }

  .title {
    font-size: 16pt;
  }

  .footer-text {
    font-size: 12pt;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 2;
  }
}

@media (min-width: 4096px) {
  html {
    zoom: 2.7;
  }
}

.photo-description {
  transition: opacity 100ms linear;
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: -40px;
  background-color: rgba(221, 221, 221, 0.8);
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  opacity: 0;
}

.photo:hover + .photo-description, .photo-description:hover {
  opacity: 1;
}
