.grid-container {
  margin: auto;
}

/* Phone */
@media (min-width: 0px) {
  .col-ph-len-1 {width: 12.5%;}
  .col-ph-len-2 {width: 16.66%;}
  .col-ph-len-3 {width: 25%;}
  .col-ph-len-4 {width: 33.33%;}
  .col-ph-len-5 {width: 41.66%;}
  .col-ph-len-6 {width: 50%;}
  .col-ph-len-7 {width: 58.33%;}
  .col-ph-len-8 {width: 66.66%;}
  .col-ph-len-9 {width: 75%;}
  .col-ph-len-10 {width: 83.33%;}
  .col-ph-len-11 {width: 91.66%;}
  .col-ph-len-12 {width: 100%;}

  .col-ph-offs-0 {margin-left: 0;}
  .col-ph-offs-1 {margin-left: 8.33%;}
  .col-ph-offs-2 {margin-left: 16.66%;}
  .col-ph-offs-3 {margin-left: 25%;}
  .col-ph-offs-4 {margin-left: 33.33%;}
  .col-ph-offs-5 {margin-left: 41.66%;}
  .col-ph-offs-6 {margin-left: 50%;}
  .col-ph-offs-7 {margin-left: 58.33%;}
  .col-ph-offs-8 {margin-left: 66.66%;}
  .col-ph-offs-9 {margin-left: 75%;}
  .col-ph-offs-10 {margin-left: 83.33%;}
  .col-ph-offs-11 {margin-left: 91.66%;}
}

/* Tablet */
@media (min-width: 645px) {
  .grid-container {
    width: 615px;
  }

  .col-tb-len-1 {width: 12.5%;}
  .col-tb-len-2 {width: 16.66%;}
  .col-tb-len-3 {width: 25%;}
  .col-tb-len-4 {width: 33.33%;}
  .col-tb-len-5 {width: 41.66%;}
  .col-tb-len-6 {width: 50%;}
  .col-tb-len-7 {width: 58.33%;}
  .col-tb-len-8 {width: 66.66%;}
  .col-tb-len-9 {width: 75%;}
  .col-tb-len-10 {width: 83.33%;}
  .col-tb-len-11 {width: 91.66%;}
  .col-tb-len-12 {width: 100%;}

  .col-tb-offs-0 {margin-left: 0;}
  .col-tb-offs-1 {margin-left: 8.33%;}
  .col-tb-offs-2 {margin-left: 16.66%;}
  .col-tb-offs-3 {margin-left: 25%;}
  .col-tb-offs-4 {margin-left: 33.33%;}
  .col-tb-offs-5 {margin-left: 41.66%;}
  .col-tb-offs-6 {margin-left: 50%;}
  .col-tb-offs-7 {margin-left: 58.33%;}
  .col-tb-offs-8 {margin-left: 66.66%;}
  .col-tb-offs-9 {margin-left: 75%;}
  .col-tb-offs-10 {margin-left: 83.33%;}
  .col-tb-offs-11 {margin-left: 91.66%;}
}

/* Desktop */
@media (min-width: 960px) {
  .grid-container {
    width: 930px;
  }

  .col-dt-len-1 {width: 12.5%;}
  .col-dt-len-2 {width: 16.66%;}
  .col-dt-len-3 {width: 25%;}
  .col-dt-len-4 {width: 33.33%;}
  .col-dt-len-5 {width: 41.66%;}
  .col-dt-len-6 {width: 50%;}
  .col-dt-len-7 {width: 58.33%;}
  .col-dt-len-8 {width: 66.66%;}
  .col-dt-len-9 {width: 75%;}
  .col-dt-len-10 {width: 83.33%;}
  .col-dt-len-11 {width: 91.66%;}
  .col-dt-len-12 {width: 100%;}

  .col-dt-offs-0 {margin-left: 0;}
  .col-dt-offs-1 {margin-left: 8.33%;}
  .col-dt-offs-2 {margin-left: 16.66%;}
  .col-dt-offs-3 {margin-left: 25%;}
  .col-dt-offs-4 {margin-left: 33.33%;}
  .col-dt-offs-5 {margin-left: 41.66%;}
  .col-dt-offs-6 {margin-left: 50%;}
  .col-dt-offs-7 {margin-left: 58.33%;}
  .col-dt-offs-8 {margin-left: 66.66%;}
  .col-dt-offs-9 {margin-left: 75%;}
  .col-dt-offs-10 {margin-left: 83.33%;}
  .col-dt-offs-11 {margin-left: 91.66%;}
}

/* Widescreen */
@media (min-width: 2560px) {
  .col-ws-len-1 {width: 12.5%;}
  .col-ws-len-2 {width: 16.66%;}
  .col-ws-len-3 {width: 25%;}
  .col-ws-len-4 {width: 33.33%;}
  .col-ws-len-5 {width: 41.66%;}
  .col-ws-len-6 {width: 50%;}
  .col-ws-len-7 {width: 58.33%;}
  .col-ws-len-8 {width: 66.66%;}
  .col-ws-len-9 {width: 75%;}
  .col-ws-len-10 {width: 83.33%;}
  .col-ws-len-11 {width: 91.66%;}
  .col-ws-len-12 {width: 100%;}

  .col-ws-offs-0 {margin-left: 0;}
  .col-ws-offs-1 {margin-left: 8.33%;}
  .col-ws-offs-2 {margin-left: 16.66%;}
  .col-ws-offs-3 {margin-left: 25%;}
  .col-ws-offs-4 {margin-left: 33.33%;}
  .col-ws-offs-5 {margin-left: 41.66%;}
  .col-ws-offs-6 {margin-left: 50%;}
  .col-ws-offs-7 {margin-left: 58.33%;}
  .col-ws-offs-8 {margin-left: 66.66%;}
  .col-ws-offs-9 {margin-left: 75%;}
  .col-ws-offs-10 {margin-left: 83.33%;}
  .col-ws-offs-11 {margin-left: 91.66%;}
}

[class*="col-"] {
    padding: 0 7.5px;
}

.col-left {
  padding-left: 0;
}

.col-right {
  padding-right: 0;
}
