#popup {
  margin: 0 auto;
  padding: 20px;
  height: 150px;
  width: 400px;
  border: 1px dashed #888;
  text-align: center;
  background: #fff;
  border-radius: 3px;
}

body {
  background: #ddb;
}
