.menu {
  background: #ddd;
}

.menu-item {
  padding: 15px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #ccc;
}

.article {
  background-color: #ddd;
}

.face, .article-pool, .footer {
  margin-top: 15px;
}

.article {
  padding-top: 15px;
  padding-bottom: 15px;
}

.image-content {
  width: 100%;
}
