
.container {
	width: 30%;
	height: 70%;
	font-family: Arial;
	font-size: 14;
}

.row {
	vertical-align: middle;
}

.header.row {
	color: #999;
	font-size: 12;
	line-height: 20px;
	border-bottom: 1px solid #ccc;
}

.item.row, .category.row {
	line-height: 40px;
}

.item.row:hover, .category.row:hover {
	background-color: #f3f3f3;
}

.item.row:hover .title.cell {
	color: #1156cc;
	text-decoration: underline;
	cursor: pointer;
}

.category.row {
	font-weight: bold;
	border-top: 1px solid #ccc;
}

.footer.row {
	line-height: 40px;
	border-top: 1px solid #ccc;
	font-weight: bold;
}

.cell {
	display: inline-block;
}

.check.cell {
	width: 5%;
}

.title.cell {
	width: 50%;
}

.button.cell {
	width: 56%;
}

.content.cell {
	width: 20%;
	text-align: right;
}

.item.row input[type='checkbox'], .category.row input[type='checkbox'] {
	opacity: 0;
}

.item.row input[type='checkbox']:checked, .item.row:hover input[type='checkbox'],
 .category.row input[type='checkbox']:checked, .category.row:hover input[type='checkbox'] {
	opacity: 1;
}

.caption {
	text-decoration: underline;
	font-weight: normal;
}

.hide {
	cursor: pointer;
	margin-left: 10px;
	color: #1156cc;
	opacity: 0;
}

.category:hover .hide {
	opacity: 1;
}
