table {
	font-size: 14;
	border: 1px solid white;
	font-family: Arial;
	border-collapse: collapse;
}

thead tr {
	line-height: 20px;
	border-bottom: 1px solid #ccc;
	color: #999;
	font-size: 12;
}

tbody, tfoot {
	line-height: 40px;
}

tbody tr:hover td.name {
	color: #1156cc;
	text-decoration: underline;
	cursor: pointer;
}

.category {
	font-weight: bold;
}

.category a {
	font-weight: normal;
}

tr {
	border-top: 1px solid transparent;
}

.category {
	border-top: 1px solid #ccc;
}

.category.closed {
	border-bottom: 1px solid #ccc;
}

tbody tr:hover {
	background-color: #f3f3f3;
}

tfoot tr {
	border-top: 1px solid #ccc;
	font-weight: bold;
}

input[type="checkbox"] {
	opacity: 0;
}

tr:hover input[type="checkbox"], input[type="checkbox"]:checked, thead input[type="checkbox"] {
	opacity: 1;
}

.name {
	width: 300px;
}

.data {
	width: 100px;
	text-align: right;
}

.hide {
	cursor: pointer;
	margin-left: 10px;
	color: #1156cc;
	opacity: 0;
}

.category:hover .hide {
	opacity: 1;
}

.caption {
	text-decoration: underline;
	font-weight: normal;
}
